*.cfg
*.log
*.pyc
*.tmproj
*~
*#
utils/indivo_data.xml
indivo_documents/
indivo_ui/static/indivo_client/resources/images*
settings.py
genepartnership/
doc/sphinx/build/
codingsystems/data/complete
.DS_Store

